<div id="directory_overview">
    <table class="table table-striped ">
        <% for item in @directories %>
            <tr>
                <td class="foldername">
                    <a class="directory" href="<%= item.link %>"><%= item.name %></a>
                </td>
            </tr>
        <% end %>
    </table>

    <table class="table table-striped ">
        <% for item in @files %>
            <tr>
                <td class="foldername">
                    <a class="directory" href="<%= item.link %>"><%= item.name %></a>
                </td>
            </tr>
        <% end %>
    </table>
</div>
